.white {
    height: 400px;
    width: 700px;
    background-color: white;
    margin: 50px auto;
    position: relative;
}

.green {
    height: 160px;
    width: 700px;
    background-color: orangered;

}

.yellow {
    height: 160px;
    width: 700px;
    background-color: green;
    margin-top: 200px;

}

.picture {
    height: 50px;
    width: 50px;
    justify-content: center;
    position: absolute;
    left: 40%;
    top: 50%;
    height: 100%;
    width: 100%;
}