.A {
    height: 400px;
    width: 700px;
    background-color: white;
    margin: 20px auto;
    position: relative;
}

.B {
    height: 20px;
    width: 420px;
    background-color: orangered;
    position: absolute;
    margin-left: 280px;

}

.C {
    height: 20px;
    width: 420px;
    background-color: orangered;
    position: absolute;
    margin-top: 60px;
    margin-left: 280px;
}

.D {
    height: 20px;
    width: 420px;
    background-color: orangered;
    position: absolute;
    margin-top: 120px;
    margin-left: 280px;
}

.E {
    height: 20px;
    width: 420px;
    background-color: orangered;
    position: absolute;
    margin-top: 180px;
    margin-left: 280px;
}

.F {
    height: 20px;
    width: 700px;
    background-color: orangered;
    position: absolute;
    margin-top: 250px;
}

.G {
    height: 20px;
    width: 700px;
    background-color: orangered;
    position: absolute;
    margin-top: 310px;
}

.H {
    height: 20px;
    width: 700px;
    background-color: orangered;
    position: absolute;
    margin-top: 380px;
}

.photo {

    position: absolute;
    top: 0;
    left: 0;
}

.photo img {
    height: 200px;
    width: 280px;
}