.form_main {
    height: 700px;
    width: 400px;
    background: linear-gradient(to right bottom, green, teal);
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.form_main:hover {
    box-shadow: 1px 1px 20px black;
    transition: all linear.3s;
}

.form_main form input {
    padding: 10px 60px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid white;
    border-radius: 30px;
    margin-top: 8px;
}

.form_main form lebel {
    color: white;

}

.form_main form input::placeholder {
    color: lightgray;
}

.form_main form button {
    margin-left: 70px;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 40px;
    border: none;
    cursor: pointer;
}

.form_main form span {
    color: red;
}